
.top{
  width: 80%;
  position: absolute;
  margin-left: 10%;
  height: 40px;

  display: flex;
  justify-content: flex-end;
  float: right;

  top: 2%;
}

top button {
  margin: 9px;
  border-radius: 3px;
  height: 50px;
  width: 90px;
  background-color: transparent;
  color: rgb(43, 177, 94);
}