* {
  margin: 0px;
  padding: 0px;
  background-color: #85dcb8;
  box-sizing: border-box;
}

.top{
  width:80%;
  margin-left: 10%;
  height: 10%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  float: left;
  background-color:#41b3a3;
  top: 2%;
}

.top button {
  margin: 9%;
  border-radius: 10%;
   /* top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  height: 30%; 
  width: 25%;
  background-color: #e8a87c;
  color: rgb(43, 177, 94);
  border-color: aquamarine;
}

.user{
  margin: 9px;
  border-radius: 3px;
  height: 50px;
  width: 90px;
  background-color: black;
  color: rgb(43, 177, 94);
  border-radius: 50%;

  width: 80%;
  position: absolute;
  margin-left: 10%;
  height: 40px;

  display: flex;
  justify-content: flex-end;
  float: right;

  top: 2%;
}

.main{
  width:100%;
  position: absolute;
  height: 80%;
  top:20%;
  display: flex;
  justify-content: flex-end;
  float: left;
  background-color: #85dcb8;
  top: 2%;
}

.form{
  width: 50%;
  display:flex;
  flex-direction: column;
}
/* 
@media only screen and (max-width: 600px) {
  .top {
    margin: 0px 0px 0px 80px;
  }
  .top button {
    width: 80px;
    margin: 0px 0px 0px 5px;
  }
  .main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
} */